{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/book_settings.css">
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="" id="book-settings">
    <p id="p-book-settings">Book settings</p>
    <div id="div-name">
        <input type="text" class="book-data" id="name">
        <button class="btn btn-outline-secondary" id="btn-save-name">Save</button>
        <p class="text-success" id="name-saved">Saved!</p>
    </div>
    <div id="div-author">
        <input type="text" class="book-data" id="author">
        <button class="btn btn-outline-secondary" id="btn-save-author">Save</button>
        <p class="text-success" id="author-saved">Saved!</p>
    </div>
    <button class="btn btn-danger" id="btn-delete">Delete</button>
</div>
<script src="../static/js/book_settings.js"></script>
{% endblock %}
